.text-center{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.info{
    margin: 1rem 0;
    padding: 1rem;
    border-radius: 4px;
    color: black;
    border: 1px solid red;
}

.mean-style{
    font-size: 3.6rem;
    font-family: 'Roboto', sans-serif;
}